# Dockerfile.deploy用

*.pyc
*.pyo
*.pyd
__pycache__
*.pyc

venv/
.vscode/

.ipynb_checkpoints/
*.ipynb

.git/
.gitignore

Dockerfile*
.dockerignore
*.md
*.bat
LICENSE

*.wav
*.zip
*.csv

# 中国語と英語が必要な場合はコメントアウト
/bert/chinese-roberta-wwm-ext-large/
/bert/deberta-v3-large/

Data/
dict_data/user_dic.json
dict_data/user_dic.dic
docs/
inputs/
mos_results/
pretrained/
pretrained_jp_extra/
scripts/
slm/
static/
tools/
