# Dockerfile.deploy用の.dockerignore
# 日本語のJP-Extraのエディター稼働のみに必要なファイルを指定する

*

!/style_bert_vits2/

!/bert/deberta-v2-large-japanese-char-wwm/
!/configs/
!/dict_data/default.csv
!/model_assets/
!/static/

!/config.py
!/default_config.yml
!/initialize.py
!/requirements.txt
!/server_editor.py
