.vscode/

__pycache__/
venv/
.ipynb_checkpoints/

/*.yml
!/default_config.yml
/bert/*/*.bin
/bert/*/*.h5
/bert/*/*.model
/bert/*/*.safetensors
/bert/*/*.msgpack

/pretrained/*.safetensors
/pretrained/*.pth

/scripts/test/
*.zip
*.csv
*.bak
/mos_results/
