__pycache__/
venv/
.venv/
dist/
.coverage
.ipynb_checkpoints/
.ruff_cache/

/*.yml
!/default_config.yml
/bert/*/*.bin
/bert/*/*.h5
/bert/*/*.model
/bert/*/*.safetensors
/bert/*/*.msgpack

/configs/paths.yml

/pretrained/*.safetensors
/pretrained/*.pth

/pretrained_jp_extra/*.safetensors
/pretrained_jp_extra/*.pth

/slm/*/*.bin

/scripts/test/
/scripts/lib/
/scripts/Style-Bert-VITS2/
/scripts/sbv2/
*.zip
*.csv
*.bak
/mos_results/

safetensors.ipynb
*.wav
/static/

# pyopenjtalk's dictionary
*.dic

playground.ipynb
