cmudict
cn2an
faster-whisper>=0.10.0
g2p_en
GPUtil
gradio
jaconv
jieba
langid
librosa
loguru
matplotlib
mecab-python3
num2words
numba
numpy
psutil
pyannote.audio>=3.1.0
pyloudnorm
pyopenjtalk-prebuilt
pypinyin
PyYAML
requests
safetensors
scipy
tensorboard
torch # For users without GPU
transformers
umap-learn